.container {
    width: 960px;
    height: 960px;
    display: grid;
}

.input-container {
    width: 960px;
    height: 960px;
    display: grid;
    position: absolute;

}

.cell-sixteen {
    background-color: white;
    border: 1px black solid;
}

.cell-twenty-four {
    background-color: white;
    border: 1px black solid;
}

.cell-input {
    background-color: white;
    border: 1px black solid;
}

.buttons {
    display: flex;
}