.container{
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.cell-sixteen {
    background-color: white;
    border: 1px black solid;
}

.cell-twenty-four {
    background-color: white;
    border: 1px black solid;
}

.buttons {
    display: flex;
}